.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 0 3rem;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    font-size: 1.2rem;
}

.burger-menu__navigation {
    cursor: pointer;
    display: none;
}

.burger-menu__img {
    background-color: #FFF;
}
/* 
@media only screen and (max-width: 932px) {
    .burger-menu__navigation {
        display: block;
    }

} */