.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 0 3rem;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    font-size: 1.2rem;
}