body {
    padding-top: 2rem;
}
.about__container {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1; 
}

.about__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    width: 40rem;
}

.about__title {
    font-size: 3.5rem;
    width: 47rem;
    text-align: center;
}

.about__text {
    font-size: 1.5rem;
    width: 33rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.vermas__btn {
    padding: 1rem 8rem;
    font-size: 1.4rem;
    font-weight: 700;
}
.about__image {
    width: 370px;
    height: 570px;
    position: relative;
    padding-bottom: 2.5rem;
}

@media only screen and (max-width: 932px) {
    body {
        padding: 0;
    }
    .about__text-container {
        width: 100%;
    }
    .about__container {
        flex-direction: column;
        width: 100%;
    }
    .about__title {
        width: 100%;
        font-size: 3rem;
    }

    .about__text {
        width: 80%;
        text-align: center;
        line-height: 2rem;
        font-weight: 300;
    }

    .about__image {
        width: 80%;
        height: auto;

    }
    .about__image-container {
        display: flex;
        justify-content: center;
    }

    .vermas__btn {
        padding: 1rem 5rem;
    }

}