.symbols__container {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.persistencia2__symbol-contact {
    position: absolute;
    bottom: 75%;
    left: 2%;
}

.resistencia__symbol-contact {
    position: absolute;
    bottom: 50%;
    right: 55%;
}

.vencer__symbol-contact {
    position: absolute;
    bottom: 45%;
    left: 3%;
}

@media only screen and (max-width: 932px) {
    .resistencia__symbol-contact {
        left: 20%;
    }
}